@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto Flex', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.5em;
}

/* ALL PAGES */

.header {
	background-image: url(images/header-background.jpg);
	background-color: rgba(0, 0, 0, .6);
	background-blend-mode: multiply;
	background-size: cover;
}

.nav {
	text-align: center;
	border-bottom: .03em solid rgba(255, 255, 255, .3);
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline;
	padding: 0 4.5%;
}


.nav a {
	display: inline-block;
	width: 9.5rem;
	padding: 0.5rem 0;
	color: white;
	text-decoration: none;
	font-size: 1.7rem;
	transition: background-color 0.2s ease-in-out;
}

.nav a:hover {
	background-color: rgba(255, 255, 255, .2);
}

.header-text {
	padding: 0.5em 0 1.2em 0;
}

.header-name {
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
	font-family: 'Chakra Petch', sans-serif;
	font-size: 5.5rem;
}

.header-subtext {
	margin: 0 1.5vw;
	padding: 0;
	color: white;
	text-align: center;
	font-size: 1.4rem;
}

.content-section {
	max-width: 1000px;
	margin: 1em auto;
	padding: 0 1.5em;
}

.section-name {
	font-family: "Anton", sans-serif;
	text-align: center;
	font-size: 3rem;
	font-weight: 500;
	margin: 1.1rem;
}

.section-text {
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 1.575rem;
}

.section-section-text {
	margin: 0;
	padding: 0;
}

.section-section-name {
	margin: 0;
	padding: 0 0 1.3vmin 0;
}

.under-content-section {
	margin: 2em auto 1em auto;
}

.more-info-links a {
	text-decoration: underline;
	color: black;
}

@media (max-width: 650px){
	.nav li {
		padding: 0 0.3vw;
	}

	.nav a {
		font-size: 5vw;
		width: 30vw;
		padding: 1.2vw 0;
	}

	.header-text {
		padding: 0.5vw 0 4vw 0;
	}

	.header-name {
		font-size: 15vw;
	}

	.header-subtext {
		font-size: 4.5vw;
		margin: 0 10vw;
	}

	.content-section {
		margin: 2.55vw auto;
	}

	.section-name {
		font-size: 10vw;
		margin: 1.5vw 0;
	}

	.section-text {
		font-size: 5vw;
	}
}

/* HEIMA */



/* FRÆÐSLA */



/* UM OKKUR */

.hverjir-img {
	float: left;
	width: 9.9em;
	height: 9.9em;
	margin: 16.2px;
	border-radius: 50%;
}

@media (max-width: 650px) {
	.hverjir-img {
		width: 42vw;
		height: 42vw;
		margin: 2.1vw;
	}
}

/* FONTS */

.thin100 {
	font-weight: 100;
}

.extralight200 {
	font-weight: 200;
}

.light300 {
	font-weight: 300;
}

.regular400 {
	font-weight: 400;
}

.semibold500 {
	font-weight: 500;
}